.search-bar {
    position: relative;
    /* Needed for absolute positioning of results */
    margin-bottom: 15px;
    margin-left: 0%;
}

.search-bar input {
    width: 96%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 30px;
    max-width: 100%;
}

/* Search results dropdown */
.search-results {
    position: absolute;
    /* Ensures it appears above without moving content */
    width: 40%;
    max-height: 200px;
    /* Limit height for scrollable results */
    overflow-y: auto;
    /* Enable scrolling */
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
    /* Ensures it appears above other elements */
    color: black;
}